body {
margin: 0 50px;
}


/* values above the slider */
.values{
  position: relative;
  top: 23px;
  margin-left: 60%;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.values span{
    position: absolute;
    text-align: center;
}

/* values below the slider */
.fixed-values{
  position: relative;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fixed-values span{
  position: absolute;
}

/* slider */
#slider {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  /* CHANGE THIS MARGIN PERCENT TO ADJUST LOWER LIMIT */
  margin: 45px 0 10px 60.5%;
}

#slider > div {
  position: absolute;
  left: 0;
  right: 15px;
  height: 14px;
}

/* left slider */
#slider > div > #range-left {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #905D51; /* Designer Colour */
  /* margin: 0 7px; */
}

/* right slider */
#slider > div > #range-right {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color:  #120E49; /* Company Colour */
  /* margin: 0 7px; */
}

/* gray slider to display  minimum range is $18 */
.constant-range{
  position: relative;
  /* display: inline; */
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 0 30% 10px 0;
}

#constant-range {
  position: absolute;
  left: 0px;
  top: 59px;
  height: 14px;
  border-radius: 10px;
  background-color: #bdbdbd;
  margin: 0 7px;
  width: 100%;
}

#slider > div > #range {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #6A7A66; /* Earth Colour */
}

/* pointers on slider */
#slider > div > #thumb {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4); */
  /* background-color: #FFF; */
  background-image: url(https://github.com/redactless/sliderbar/raw/main/Two%20Way%20Arrow.png);
  border-style: solid;
  border-radius: 50%;
  border-color: #000;
  border-width: 4px;
}

#slider > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div#slider > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div#slider > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div#slider > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div#slider > input[type=range]:focus {
  outline: none;
}

div#slider > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: #ec407a;
}

div#slider > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: #ec407a;
}

div#slider > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: #ec407a;
  -webkit-appearance: none;
}

div#slider > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div#slider > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div#slider > input[type=range]::-ms-tooltip {
  display: none;
}

#slider > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: #1ABC9C;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

#slider > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #1ABC9C;
}

#slider > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

#slider:hover > div > [sign] {
  opacity: 1;
}

form button{
  position: absolute;
  bottom: -75px;
  right: 20px;
  background: #9e9e9e;
  color: white;
  padding: 10px 35px;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

form button:hover{
  background-color: #757575;
}

/* for responsiveness */
@media (max-width: 1000px) {
  #slider > div > #thumb {
    height: 28px;
    width: 17px;
    border-radius: 0%;
  }
}

@media (max-width: 800px) {
  #slider > div > #thumb {
    height: 30px;
    top: -9px;
    width: 7px;
    border-radius: 0%;
    margin-left: -4px;
  }
}

@media (max-width: 500px){
  #slider > div > #thumb {
      height: 30px;
      top: -9px;
      width: 4px;
      border-radius: 0%;
      margin-left: -2px;
  }

  .values span{
    font-size: 13px;
  }

  #slider > div > #range-right,
  #slider > div > #range-left,
  #slider > div > #range,
  #constant-range {
    height: 10px;
  }

  form button {
    right: 0;
    padding: 8px 20px;
    font-size: 15px;
  }

  body {
    margin: 0 20px;
    overflow: hidden;
  }
}

@media (max-width: 475px){
  body {
    margin: 0 10px;
    overflow: hidden;
  }

  form button {
    right: 0;
    padding: 6px 22px;
    font-size: 14px;
  }
}
